<script>
  import "./App.scss";
  import "normalize.css";
  import LinearProgress from "@smui/linear-progress";
  import TopAppBar, { Row, Section, Title } from "@smui/top-app-bar";
  import Button, { Icon, Label } from "@smui/button";
  import IconButton from "@smui/icon-button";
  import Dialog, * as D from "@smui/dialog";
  import MyDrawer from "./MyDrawer.svelte";
  import RandomButton from "./RandomButton.svelte";
  import { Plugins } from "@capacitor/core";
  import { onMount } from "svelte";

  const { Keyboard, Device, SplashScreen } = Plugins;

  export let name;

  let clicked = 0;
  let starred = false;
  let drawerOpen = false;
  let keyboardOpen = false;
  let isWebPlatform;

  let dialog;

  function onKeyboardShow() {
    keyboardOpen = true;
  }

  function onKeyboardHide() {
    keyboardOpen = false;
  }

  onMount(async () => {
    SplashScreen.hide();

    let info = await Device.getInfo();

    isWebPlatform = info.platform === "web";

    if (!isWebPlatform) {
      Keyboard.addListener("keyboardDidHide", onKeyboardHide);
      Keyboard.addListener("keyboardDidShow", onKeyboardShow);
    }
  });

  function deleteItem() {
    console.log("delete item");
  }

  function onDialogClose() {
    console.log("closed");
  }

  function onMenuClick() {
    drawerOpen = !drawerOpen;
  }

  function toggleKeyboard() {
    if (keyboardOpen) {
      Keyboard.hide();
    } else {
      Keyboard.show();
    }
  }
</script>

<style>
  h1 {
    color: purple;
    text-align: center;
  }

  .container {
    position: relative;
    overflow-y: auto;
    margin: 5px;
    height: calc(100vh - 56px - 10px);
  }

  .container > :global(*) {
    margin-bottom: 1rem;
    width: 100%;
  }

  .container :global(.mdc-linear-progress) {
    position: absolute;
    top: 0;
    width: 100%;
  }
</style>

<MyDrawer bind:drawerOpen />

<TopAppBar variant="static" prominent={false} dense={false} color={'primary'}>
  <Row>
    <Section>
      <IconButton class="material-icons" on:click={onMenuClick}>
        menu
      </IconButton>
      <Title>My svelte app</Title>
    </Section>
    <Section align="end" toolbar>
      <IconButton
        class="material-icons"
        ripple={false}
        aria-label="Download"
        bind:pressed={starred}>
        file_download
      </IconButton>
      <IconButton class="material-icons" aria-label="Print this page">
        print
      </IconButton>
      <IconButton class="material-icons" aria-label="Bookmark this page">
        bookmark
      </IconButton>
    </Section>
  </Row>
</TopAppBar>

<div class="container">
  <LinearProgress indeterminate />

  <h1>Hello {name}!</h1>

  <RandomButton />

  <Button
    on:click={toggleKeyboard}
    variant="raised"
    disabled={isWebPlatform || isWebPlatform === undefined}>
    <Label>toggle keyboard</Label>
  </Button>

  <input type="text" />

  <Button on:click={() => dialog.open()} variant="raised">
    <Icon class="material-icons">thumb_up</Icon>
    <Label>Open dialog</Label>
  </Button>

  <Dialog
    bind:this={dialog}
    aria-labelledby="dialog-title"
    aria-describedby="dialog-content"
    on:MDCDialog:closed={onDialogClose}>
    <D.Title id="dialog-title">Delete Item</D.Title>
    <D.Content id="dialog-content">
      Are you sure you want to delete the item?
    </D.Content>
    <D.Actions>
      <Button>
        <Label>Cancel</Label>
      </Button>
      <Button on:click={deleteItem}>
        <Label>Delete</Label>
      </Button>
    </D.Actions>
  </Dialog>

  <h2>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi ratione
    cupiditate aperiam explicabo debitis vitae, cumque deserunt officia. Error
    ullam at, architecto eum doloremque dolorem consectetur quam unde excepturi
    suscipit!
  </h2>

  <h2>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi ratione
    cupiditate aperiam explicabo debitis vitae, cumque deserunt officia. Error
    ullam at, architecto eum doloremque dolorem consectetur quam unde excepturi
    suscipit!
  </h2>
</div>
