<script>
  import Button, { Icon, Label } from "@smui/button";

  let number;
  let loading = false;

  function getRandomNumber() {
    loading = true;

    fetch(
      "https://llps1sry9b.execute-api.eu-central-1.amazonaws.com/dev/random"
    )
      .then(a => a.json())
      .then(a => {
        number = Math.floor(a.number * 1000);
        loading = false;
      })
      .catch(e => {
        loading = false;
      });
  }
</script>

<Button on:click={getRandomNumber} variant="raised">
  <Label>
    {#if number !== undefined}{number}{:else}get random number{/if}
  </Label>
</Button>
